
/* Styled and aligned body/added flex */
body {
    background-color: lightslategrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0; 
    height: 100vh; 
  }
/* Aligned display items and added spaces */
  #display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    gap: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.card {
    flex: 0 0 calc(25% - 16px); 
    max-width: calc(15% - 16px); 
    box-sizing: border-box;
    max-height: 100vh;
}

  footer {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
   
  

 